<!-- description: http://learn.javascript.ru/task/menu-template -->
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <style type="text/css">
      .menu ul {
        display: none;
        margin: 0;
      }

      .menu .title {
        font-weight: bold;
        cursor: pointer;
      }

      .menu .title:before {
        content: '▶';
        padding-right: 6px;
        color: green;
      }

      .menu.open ul {
        display: block;
      }

      .menu.open .title:before {
        content: '▼';
      }
    </style>
  </head>
  <body>
    <script type="text/template" id="menu-template">
      <div class="menu">
        <span class="title"><%-title%></span>
      </div>
    </script>
    <script type="text/template" id="menu-list-template">
      <ul>
        <% for (let k in items) { %>
        <li><a class="item__link" href="#<%-encodeURIComponent(k)%>"><%-items[k]%></a></li>
        <% } %>
      </ul>
    </script>
    <script>
      function Menu(options) {
        var elem;

        function getElem() {
          if (!elem) render();
          return elem;
        }

        function render() {
          var html = options.template({
            title: options.title
          });

          elem = document.createElement('div');
          elem.innerHTML = html;
          elem = elem.firstElementChild;

          elem.onmousedown = function() {
            return false;
          }

          elem.onclick = function(event) {
            if (event.target.closest('.title')) {
              toggle();
            }
            
            if (event.target.closest('.item__link')) {
              event.preventDefault();
              showItem(event.target.closest('.item__link'));
            }
          }
        }

        function renderItems() {
          if (elem.querySelector('ul')) return;

          var listHtml = options.listTemplate({
            items: options.items
          });
          elem.insertAdjacentHTML("beforeEnd", listHtml);
        }

        function open() {
          renderItems();
          elem.classList.add('open');
        };

        function close() {
          elem.classList.remove('open');
        };

        function toggle() {
          if (elem.classList.contains('open')) close();
          else open();
        };
        
        function showItem(item) {
          alert(item.href.slice(item.href.indexOf('#') + 1));
        }

        this.getElem = getElem;
        this.toggle = toggle;
        this.close = close;
        this.open = open;
      }
    
      var menu = new Menu({
        title: "Сладости",
        // передаём также шаблоны
        template: _.template(document.getElementById('menu-template').innerHTML),
        listTemplate: _.template(document.getElementById('menu-list-template').innerHTML),
        items: {
          "donut": "Пончик",
          "cake": "Пирожное",
          "chocolate": "Шоколадка"
        }
      });

      document.body.appendChild(menu.getElem());
    </script>
  </body>
</html>